.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 2vh;
  background: var(--main4-color);
  height: 5vh;
}
.container a {
  padding: 4px 16px;
  color: var(--x1-color);
  word-spacing: 3px;
  letter-spacing: 3px;
  font-weight: 600;
  border-bottom: 4px solid var(--main4-color);
}
.container a:hover {
  border-bottom: 3px solid var(--y1-color);
}

.menuicon {
  display: none;
}

@media (max-width: 600px) {
  .container {
    display: none;
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 30vh;
    padding: 15px 0;
    flex-direction: column;
    text-align: center;
    background: var(--main2-color);
  }
  .container a {
    width: 100vw;
    line-height: 30px;
    color: var(--y4-color);
    border-bottom: none;
  }
  .container a:hover {
    border-bottom: none;
  }

  .menuicon {
    display: flex;
    position: absolute;
    margin-left: 74vw;
    top: 3vh;
    width: 7vw;
  }
}
