.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 1vh;
  background: var(--main4-color);
  height: 5vh;
}
.container a {
  padding: 4px 16px;
  color: var(--x1-color);
  word-spacing: 3px;
  letter-spacing: 3px;
  font-weight: 600;
  border-bottom: 4px solid var(--main4-color);
}
.container a:hover {
  border-bottom: 3px solid var(--y1-color);
}

@media (max-width: 600px) {
  .container {
    padding: 15px 0;
    flex-direction: column;
    text-align: center;
    background: var(--main2-color);
    height: 30vh;
  }
  .container a {
    width: 100vw;
    line-height: 30px;
    color: var(--y4-color);
    border-bottom: none;
  }
}
