.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 16vh;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: rgb(114, 224, 114);
}

@media (max-width: 600px) {
  .container {
    min-height: 10vh;
  }
}
