.container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  background: var(--main4-color);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  min-height: 10vh;
  padding: 0;
  margin: 0;
  background: var(--main4-color);
}

.menu {
  display: flex;
}

.menuicon {
  display: none;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 20vw;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  .menu {
    position: fixed;
    z-index: 100;
    top: 8vh;
    justify-content: center;
    align-items: center;
    padding: 2vh 0 0;
    margin-left: 0;
    height: 30vh;
    width: 100vw;
    font-size: 17px;
    font-weight: 400;
  }

  .menuicon {
    display: flex;
    margin-left: 2vw;
    padding-top: 7px;
    width: 7vw;
  }

  .logo {
    width: 50vw;
  }
}
