.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 98.8vw;
  min-height: 4vh;
  padding: 0;
  margin: 0;
  background: var(--main4-color);
}

@media (max-width: 600px) {
  .container {
    min-height: 4vh;
  }
}
